.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-fY3f4xwktQVt);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-zMayWOy_9Mdr);
  font-family: var(--token-el21zrALTJMi);
  font-size: var(--token-V3oVuf2BBBjE);
  line-height: var(--token-N5dgdgsVpaM9);
  outline-style: none;
  border-radius: var(--token-keWHgr-Rr1hF);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-HlpWqJDNU5Se);
  outline-offset: 1px;
  outline-color: var(--token-fY3f4xwktQVt);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-KWV9awB0vwqK);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-QXxgOtmzVSk_);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-5x_koVDeBwvH);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-trAuPKuRGAqB);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-w78HJxsP5YcB);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-BB37mY9BO8Kw);
  font-size: var(--token-PPTupOCt-SYt);
  column-gap: var(--token-HlpWqJDNU5Se);
  row-gap: 0px;
  border-radius: var(--token-Om9tik2Srnru);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-PPTupOCt-SYt);
  line-height: var(--token-BB37mY9BO8Kw);
  column-gap: var(--token-Om9tik2Srnru);
  row-gap: 0px;
  border-radius: var(--token-Om9tik2Srnru);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-SGeUui4_Wh40);
  line-height: var(--token-C3m1PlZxI74S);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-SGeUui4_Wh40);
  line-height: var(--token-C3m1PlZxI74S);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-uY-pfPXHhox6);
  border-radius: var(--token-keWHgr-Rr1hF);
}
.softBackgroundcolor_neutral {
  background: var(--token-5hN7auRMeCoC);
}
.softBackgroundcolor_muted {
  background: var(--token-yA90zGMGOVb4);
}
.softBackgroundcolor_success {
  background: var(--token-X36NM536nVvO);
}
.softBackgroundcolor_warning {
  background: var(--token-Cqrk37u0Mxv2);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-iWEKDxe-iTLr);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-keWHgr-Rr1hF);
  border: 0px solid var(--token-KfXd5rvjDBe6);
}
.bordercolor_neutral {
  border-color: var(--token-A6eOZTGj1-vW);
}
.bordercolor_muted {
  border-color: var(--token-IvLEFUtSfBXZ);
}
.bordercolor_success {
  border-color: var(--token-0DQhR2vDml9v);
}
.bordercolor_warning {
  border-color: var(--token--9aw7Aqk-_er);
}
.bordercolor_errorDestructive {
  border-color: var(--token-s0eCGZ3tnAxN);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-keWHgr-Rr1hF);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-Lg8WEOM2BnI7);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-ce2bEJYdeC0r);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-qAEkI5JYNgpg);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__i0MAm {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-keWHgr-Rr1hF) var(--token-t9XrT8Y5WwcM);
}
.freeBox__i0MAm > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-keWHgr-Rr1hF));
  width: calc(100% + var(--token-keWHgr-Rr1hF));
}
.freeBox__i0MAm > :global(.__wab_flex-container) > *,
.freeBox__i0MAm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i0MAm > :global(.__wab_flex-container) > picture > img,
.freeBox__i0MAm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-keWHgr-Rr1hF);
}
.freeBoxsize_extraSmall__i0MAmUh7 {
  padding: var(--token-Om9tik2Srnru) var(--token-keWHgr-Rr1hF);
}
.freeBoxsize_small__i0MAmhuiKm {
  padding: var(--token-keWHgr-Rr1hF) var(--token-zMayWOy_9Mdr);
}
.freeBoxsize_large__i0MAmBJctS {
  padding-top: var(--token-Om9tik2Srnru);
  padding-bottom: var(--token-Om9tik2Srnru);
}
.freeBoxsize_extraLarge__i0MAmfe69N {
  padding-left: var(--token-0Le-rYt3cval);
  padding-right: var(--token-0Le-rYt3cval);
}
.freeBoxroundedFull__i0MAmL4G0T {
  padding-right: var(--token-0Le-rYt3cval);
  padding-left: var(--token-0Le-rYt3cval);
}
.freeBox___4TMw {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___4TMwBGhHm {
  display: flex;
}
.slotTargetStart {
  color: var(--token-Z2tKxjR-7tHv);
}
.slotTargetStartcolor_neutral {
  color: var(--token-gQsKFMzaghTt);
}
.slotTargetStartcolor_muted {
  color: var(--token-OP19vJ83gaaB);
}
.slotTargetStartcolor_success {
  color: var(--token-o5jEOC7IPX91);
}
.slotTargetStartcolor_warning {
  color: var(--token-HTv3s-wGK0a2);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-0xhyS5oFissy);
}
.slotTargetStarttype_soft {
  color: var(--token-OgxCwNA7uy8F);
}
.slotTargetStarttype_bordered {
  color: var(--token-OgxCwNA7uy8F);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-PPTupOCt-SYt);
}
.slotTargetStartsize_small {
  font-size: var(--token-PPTupOCt-SYt);
}
.slotTargetStartsize_large {
  font-size: var(--token-SGeUui4_Wh40);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-SGeUui4_Wh40);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-2AdeEQLTRf9X);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-2AdeEQLTRf9X);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-8tahAq2tTbiR);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-8tahAq2tTbiR);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-zfqKYpcdvU_Q);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-zfqKYpcdvU_Q);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-KwkN1TtJ9V1Z);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-KwkN1TtJ9V1Z);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-2hrk3ZSONS3P);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-2hrk3ZSONS3P);
}
.svg__nAmM {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-Z2tKxjR-7tHv);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-gQsKFMzaghTt);
}
.slotTargetLabelcolor_muted {
  color: var(--token-OP19vJ83gaaB);
}
.slotTargetLabelcolor_success {
  color: var(--token-o5jEOC7IPX91);
}
.slotTargetLabelcolor_warning {
  color: var(--token-HTv3s-wGK0a2);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-0xhyS5oFissy);
}
.slotTargetLabeltype_soft {
  color: var(--token-OgxCwNA7uy8F);
}
.slotTargetLabeltype_bordered {
  color: var(--token-OgxCwNA7uy8F);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-2AdeEQLTRf9X);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-8tahAq2tTbiR);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-2AdeEQLTRf9X);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-zfqKYpcdvU_Q);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-8tahAq2tTbiR);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-KwkN1TtJ9V1Z);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-zfqKYpcdvU_Q);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-2hrk3ZSONS3P);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-KwkN1TtJ9V1Z);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-2hrk3ZSONS3P);
}
.text___1Gwl9 {
  white-space: pre;
}
.freeBox__ex15Y {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__ex15YNtOcy {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-Z2tKxjR-7tHv);
}
.slotTargetEndcolor_neutral {
  color: var(--token-gQsKFMzaghTt);
}
.slotTargetEndcolor_muted {
  color: var(--token-OP19vJ83gaaB);
}
.slotTargetEndcolor_success {
  color: var(--token-o5jEOC7IPX91);
}
.slotTargetEndcolor_warning {
  color: var(--token-HTv3s-wGK0a2);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-0xhyS5oFissy);
}
.slotTargetEndtype_soft {
  color: var(--token-OgxCwNA7uy8F);
}
.slotTargetEndtype_bordered {
  color: var(--token-OgxCwNA7uy8F);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-PPTupOCt-SYt);
}
.slotTargetEndsize_small {
  font-size: var(--token-PPTupOCt-SYt);
}
.slotTargetEndsize_large {
  font-size: var(--token-SGeUui4_Wh40);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-SGeUui4_Wh40);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-2AdeEQLTRf9X);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-2AdeEQLTRf9X);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-8tahAq2tTbiR);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-8tahAq2tTbiR);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-zfqKYpcdvU_Q);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-zfqKYpcdvU_Q);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-KwkN1TtJ9V1Z);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-KwkN1TtJ9V1Z);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-2hrk3ZSONS3P);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-2hrk3ZSONS3P);
}
.svg__i4N5 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
